## Creature comforts
alias untar="tar -xvzf"
alias ls='ls --color=auto'
alias rbash="exec bash"
alias bashrc="vim ~/.bashrc; rbash"
alias aliases="vim ~/.aliases; rbash"
alias vimrc="vim ~/.vim/vimrc"
alias hkrc="vim ~/.config/sxhkd/sxhkdrc"
alias feh="feh -x --scale-down --auto-zoom"
alias du="du -h"
alias n="nnn"
alias l="lsd"
alias open='xdg-open "$(fzf)"'

# SYSTEM DEPENDENT
alias tuxmount="sshfs shs96@tux.cs.drexel.edu:/home/shs96/ ~/mount/tux"
alias tuxumount="fusermount3 -u ~/mount/tux"
alias tux="ssh shs96@tux.cs.drexel.edu"
alias mcserver="ssh shahriyar@45.79.179.100"
alias py3="python3"

# CONFIG FILES
alias nginxconf="sudo vim /etc/nginx/nginx.conf"
